name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
    - name: SSH Remote Commands
      uses: appleboy/ssh-action@v0.1.4
      env: 
        WorkDir: ${{ secrets.WORKDIR }}
        GitDir: ${{ secrets.GITDIR }}
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        script: |
          cd ${{ secrets.GITDIR }}
          wget https://github.com/zhengganCN/AmazedUtil/archive/master.zip

